
<div class="logo">
    <a href="https://codetrace.com/users/marv007" class="simple-text logo-normal">
      <div class="">
        <img src="https://codetrace.com/widget/marv007">
      </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
