<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header alert alert-info">
        <h5 class="title">Prueba técnica hecha por Marvin Torres.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-info text-center">
        <i class="fa-solid fa-users fa-4x"></i>
        <h3 class="title">Clientes:</h3>
        <h1 class="title">{{clientes.length}}</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info text-center">
        <i class="fa-solid fa-list fa-4x"></i>
        <h3 class="title">Ordenes:</h3>
        <h1 class="title">{{ordenes.length}}</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info text-center">
        <i class="fa-solid fa-tags fa-4x"></i>
        <h3 class="title">Productos:</h3>
        <h1 class="title">{{productos.length}}</h1>
      </div>
    </div>
  </div>
</div>
